body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cbbcbc;
}

header {
    background-color: #b7b5b5;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    padding: 22px;
}

.product {
    background: white;
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    width: 248;
     height: 396;
    text-align: center;
    flex-direction: column;
    margin-bottom: 30px;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: rgb(255, 255, 255);
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}

.close {
    float: right;
    font-size: 28px;
    cursor: pointer;
}

.cart {
    position: relative;
}

.cart #cartCount {
    color: yellow;
}
.pagination {
    display: inline-block;
  }
  
.pagination a, .pagination span {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.1s;
    border: 1px solid #39393b;
    margin: 0 4px;
  }
  
.pagination a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
  }
  
.pagination a:hover:not(.active) {
    background-color: #ddd;
    color: #4CAF50; /*text color on hover */
  }
  
  .pagination a:hover {
    border-color: #4CAF50; /* border color on hover */
  }
  /* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Hamburger button styles */
.hamburger {
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger .line {
    width: 30px;
    height: 3px;
    background-color: brown;
    margin: 5px 0;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 10px 20px;
    text-align: left;
}

.sidebar ul li a {
    text-decoration: none;
    color: #000;
    display: block;
}

.sidebar ul li a:hover {
    color: #a52a2a; /* Hover color for links */
}

/* Close button styles */
.closebtn {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 36px;
    cursor: pointer;
}
.parv-logo-home{
padding-left: 550px;
}
/* img hover */
.container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }